<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
    
  <title>Hack For Humanity 2022</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="js/file.js"></script>
  <script src="https://kit.fontawesome.com/515770e734.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</head>
<body>

  <nav class="navbar navbar-light bg-light fixed-top">
      <div class="container-fluid">
        <div class = "col-1">
          <a class="navbar-brand" href="/index"><img src="img/logo.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
      DonorDash</a>
        </div>
        <div class = "center">
        <a class="btn btn-primary" href="#food" role="button">Food</a>
        <a class="btn btn-primary" href="#clothing" role="button">Clothing</a>
        <a class="btn btn-primary" href="#hygiene" role="button">Personal Hygiene</a>
        <a class="btn btn-primary" href="#misc" role="button">Misc.</a>
        <a class="btn btn-primary" href="/aboutus" role="button">About Us</a>
        </div>
        <div class = "col-1">
          <a class="btn btn-outline-primary" href="/cart" role="button">Cart</a>
        </div>
      </div>
    </nav>

  <header>
    
  </header>



  <h1>STUFF</h1>



<div id="food">
  <section class="pt-5">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-auto me-auto">
        <h3 class="mb-3">Food</h3>
      </div>
      <div class="col-auto">
        <a class="btn btn-primary mb-3 " data-bs-target="#carousel1" data-bs-slide="prev" role="button">
          <i class="fa fa-arrow-left"></i>
        </a>
        <a class="btn btn-primary mb-3 " data-bs-target="#carousel1" data-bs-slide="next" role="button">
          <i class="fa fa-arrow-right"></i>
        </a>
      </div>
      <div class="col-12">
        <div id="carousel1" class="carousel slide" data-bs-ride="carousel1">

          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="false">
              <div class="row">

                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img class="img-fluid" src="img/applebread.png">
                    <div class="card-body">
                      <h4 class="card-title">Set 1</h4>
                      <p class="card-text">Set 1</p>

                    </div>

                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img class="img-fluid" src="img/turkeybread.png">
                    <div class="card-body">
                      <h4 class="card-title">Set 2</h4>
                      <p class="card-text">Set 2</p>

                    </div>

                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img class="img-fluid" src="img/veggies.png">
                    <div class="card-body">
                      <h4 class="card-title">Set 3</h4>
                      <p class="card-text">Set 3</p>

                    </div>

                  </div>
                </div>

              </div>
            </div>

            <div class="carousel-item" data-bs-interval="false">
              <div class="row">

                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img class="img-fluid" src="img/bread.jpg">
                    <div class="card-body">
                      <h4 class="card-title">Set 4</h4>
                      <p class="card-text">Set 4</p>

                    </div>

                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img class="img-fluid" src="img/bread1.jpg">
                    <div class="card-body">
                      <h4 class="card-title">Set 5</h4>
                      <p class="card-text">Set 5</p>

                    </div>

                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img class="img-fluid" src="img/bread2.jpg">
                    <div class="card-body">
                      <h4 class="card-title">Set 6</h4>
                      <p class="card-text">Set 6</p>

                    </div>

                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>

<div id="clothing">
  <section class="pt-5">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-auto me-auto">
        <h3 class="mb-3">Clothing</h3>
      </div>
      <div class="col-auto">
        <a class="btn btn-primary mb-3 " data-bs-target="#carousel2" data-bs-slide="prev" role="button">
          <i class="fa fa-arrow-left"></i>
        </a>
        <a class="btn btn-primary mb-3 " data-bs-target="#carousel2" data-bs-slide="next" role="button">
          <i class="fa fa-arrow-right"></i>
        </a>
      </div>
      <div class="col-12">
        <div id="carousel2" class="carousel slide" data-bs-ride="carousel2">

          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="false">
              <div class="row">

                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img class="img-fluid" src="img/sweatclothes.png">
                    <div class="card-body">
                      <h4 class="card-title">Set 1</h4>
                      <p class="card-text">Set 1</p>

                    </div>

                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img class="img-fluid" src="img/buttonup.png">
                    <div class="card-body">
                      <h4 class="card-title">Set 2</h4>
                      <p class="card-text">Set 2</p>

                    </div>

                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img class="img-fluid" src="img/tshirt.png">
                    <div class="card-body">
                      <h4 class="card-title">Set 3</h4>
                      <p class="card-text">Set 3</p>

                    </div>

                  </div>
                </div>

              </div>
            </div>

            <div class="carousel-item" data-bs-interval="false">
              <div class="row">

                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img class="img-fluid" src="img/bread.jpg">
                    <div class="card-body">
                      <h4 class="card-title">Set 4</h4>
                      <p class="card-text">Set 4</p>

                    </div>

                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img class="img-fluid" src="img/bread1.jpg">
                    <div class="card-body">
                      <h4 class="card-title">Set 5</h4>
                      <p class="card-text">Set 5</p>

                    </div>

                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img class="img-fluid" src="img/bread2.jpg">
                    <div class="card-body">
                      <h4 class="card-title">Set 6</h4>
                      <p class="card-text">Set 6</p>

                    </div>

                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>

<div id="hygiene">
  <section class="pt-5">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-auto me-auto">
        <h3 class="mb-3">Personal Hygiene</h3>
      </div>
      <div class="col-auto">
        <a class="btn btn-primary mb-3 " data-bs-target="#carousel3" data-bs-slide="prev" role="button">
          <i class="fa fa-arrow-left"></i>
        </a>
        <a class="btn btn-primary mb-3 " data-bs-target="#carousel3" data-bs-slide="next" role="button">
          <i class="fa fa-arrow-right"></i>
        </a>
      </div>
      <div class="col-12">
        <div id="carousel3" class="carousel slide" data-bs-ride="carousel3">

          <div class="carousel-inner">
            <div class="carousel-item active " data-bs-interval="false">
              <div class="row">

                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img class="img-fluid" src="img/tooth.png">
                    <div class="card-body">
                      <h4 class="card-title">Set 1</h4>
                      <p class="card-text">Set 1</p>

                    </div>

                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img class="img-fluid" src="img/soap.png">
                    <div class="card-body">
                      <h4 class="card-title">Set 2</h4>
                      <p class="card-text">Set 2</p>

                    </div>

                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img class="img-fluid" src="img/towel.png">
                    <div class="card-body">
                      <h4 class="card-title">Set 3</h4>
                      <p class="card-text">Set 3</p>

                    </div>

                  </div>
                </div>

              </div>
            </div>

            <div class="carousel-item" data-bs-interval="false">
              <div class="row">

                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img class="img-fluid" src="img/bread.jpg">
                    <div class="card-body">
                      <h4 class="card-title">Set 4</h4>
                      <p class="card-text">Set 4</p>

                    </div>

                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img class="img-fluid" src="img/bread1.jpg">
                    <div class="card-body">
                      <h4 class="card-title">Set 5</h4>
                      <p class="card-text">Set 5</p>

                    </div>

                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img class="img-fluid" src="img/bread2.jpg">
                    <div class="card-body">
                      <h4 class="card-title">Set 6</h4>
                      <p class="card-text">Set 6</p>

                    </div>

                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>

<div id="misc">
  <section class="pt-5">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-auto me-auto">
        <h3 class="mb-3">Misc.</h3>
      </div>
      <div class="col-auto">
        <a class="btn btn-primary mb-3 " data-bs-target="#carousel6" data-bs-slide="prev" role="button">
          <i class="fa fa-arrow-left"></i>
        </a>
        <a class="btn btn-primary mb-3 " data-bs-target="#carousel6" data-bs-slide="next" role="button">
          <i class="fa fa-arrow-right"></i>
        </a>
      </div>
      <div class="col-12">
        <div id="carousel6" class="carousel slide" data-bs-ride="carousel6">

          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="false">
              <div class="row">

                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img class="img-fluid" src="img/counseling.png">
                    <div class="card-body">
                      <h4 class="card-title">Set 1</h4>
                      <p class="card-text">Set 1</p>

                    </div>

                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img class="img-fluid" src="img/hotel.png">
                    <div class="card-body">
                      <h4 class="card-title">Set 2</h4>
                      <p class="card-text">Set 2</p>

                    </div>

                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img class="img-fluid" src="img/bread2.jpg">
                    <div class="card-body">
                      <h4 class="card-title">Set 3</h4>
                      <p class="card-text">Set 3</p>

                    </div>

                  </div>
                </div>

              </div>
            </div>

            <div class="carousel-item" data-bs-interval="false">
              <div class="row">

                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img class="img-fluid" src="img/bread.jpg">
                    <div class="card-body">
                      <h4 class="card-title">Set 4</h4>
                      <p class="card-text">Set 4</p>

                    </div>

                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img class="img-fluid" src="img/bread1.jpg">
                    <div class="card-body">
                      <h4 class="card-title">Set 5</h4>
                      <p class="card-text">Set 5</p>

                    </div>

                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img class="img-fluid" src="img/bread2.jpg">
                    <div class="card-body">
                      <h4 class="card-title">Set 6</h4>
                      <p class="card-text">Set 6</p>

                    </div>

                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
  
<footer>
</footer>
  
</body>
</html>